* {
	box-sizing: border-box;
	color: #212529;
	font-family: "Source Sans Pro";
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Josefin Sans";
	font-weight: 700;
}

h2 { 
text-transform:uppercase;
font-weight: 300;
letter-spacing: 0.05em; }

.header {
	/* background-color: #f1f3f4; */
	background: #161415 no-repeat top center;
}

.header h1 {
	/* color: #495057; */
	color: #FFF;
	text-transform:uppercase;
	font-size: 3em;
	padding-bottom:0;
	margin-bottom: 0;
}

.main-content {
	padding-top: 40px;
}

.divider {
	width: 25%;
	border-bottom: 3px solid #f2f2f2;
	margin: auto !important;
	padding-top: 10px !important;
}
.orange-sidebar {
	padding-bottom: 2px;
}
.orange-sidebar h3 {
	color:  #f79131;
}

.green-sidebar {
	padding-left: 20px;
	border-left: 3px solid #2A9D8F;
}

.main-content h2 {
	padding-left: 20px;
}

.main-content h2:not(:first-of-type) {
	margin-top: 40px;
}

.job {
	margin-bottom:30px;
}

.job * {
	margin: 0;
	padding: 0;
}

.job h3 {
	text-transform: uppercase;
	margin-bottom:8px;
}

.tech h3 {
	margin-bottom:8px;
    font-weight: normal;
}

.job .job-meta {
	/*font-size: 0.85em;*/
	color: #495057;
	font-style: italic;
	margin-bottom:8px;
	padding: 0;
}

.job .job-description {
	margin-bottom: 0;
	padding: 0;
}

.about-me {
	background: #2B2B2B;
	line-height: 30px;
	padding-top: 18px;
	padding-bottom: 66px;
	overflow: hidden;
}

.about-me * {
	color: #DEEEFF;
}

.vision ul {
    list-style: circle;
    margin-left: 30px;
}

.vision ul > li{
    margin-bottom: 0px;
}

ul {
	padding-left: 0;
    list-style: none;
}

ul > li {
	margin-bottom:8px;
}

ul > li > a {
	text-decoration:none;
}

ul.job-bullets {
}

ul.job-bullets li:before {
	content:"•"; 
	font-size:12px;
	padding-right: 0.5em;
}

i {
	color: #2A9D8F;
}

.headshot {
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

@media screen and (min-width: 767px) {

	.headshot {
	    position: absolute;
	    right: 0;
	    bottom: -70px;
	}

}

@media screen and (max-width: 767px) {
	.headshot {
		position: relative;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom:25px;
	}

	.header h1 {
		text-align: center;
	}

	.header {
		text-align: center;
	}
}

.grid-container {
    max-width: 62.5rem;
}